<h1>About Pollse</h1>

<p>Have you ever wondered which is more popular--boxers or briefs? Now you can find out, and much more. We have made it simple to create and share polls about anything and everything. Get on it!  Ask a question today!</p>

<br />

<h2>The Team</h2>

<h4>Patrick Edelman</h4>
<p>A Computer Science major at CSU Chico. Asker of questions, drinker of craft beer. Has too much fun coding and working on startups.</p>

<h4>Chris Morris</h4>
<p>
  As a teacher, Chris gets a lot of questions.  He is hopeful that his students will start using this site instead of sending him email!
</p>

<h4>Matt Olson</h4>
<p></p>

<h4>Mark Weiss</h4>
<p></p>

<br />

<h2>ChicoStart</h2>

<p>
Special thanks to Chico Start for hosting us over the weekend!
</p>

<p>
ChicoStart is shared office space for startups and community for entrepreneurs. We are a plug-and-play service, providing you everything you need to get right to work: desks, couches, WiFi, conference rooms, mail service, a stocked kitchen and more!
</p>

<p>
For anyone interested in joining an awesome shared workspace, <%= link_to 'get in touch', 'http://chicostart.com'%>.
</p>

<br />

<h2>What is Rails Rumble?</h2>

<p>
Rails Rumble is a distributed programming competition where teams of one to four people, from all over the world, have 48 hours to build an innovative web application, with Ruby on Rails or another Rack-based Ruby web framework. After the 48 hours are up, a panel of expert judges will pick the top ten winners.
</p>
