	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="featured-poll">
				<h1>Who would win in a fight between a taco and a grilled cheese sandwhich</h1>
				<form>
					<input id="age_child" name="age" type="radio" value="child" />
					<label for="age_child">Grilled Cheese Sandwhich</label>
					<br />
					<input id="age_adult" name="age" type="radio" value="adult" />
					<label for="age_adult">Taco</label>
					<br />
					<input id="age_adult" name="age" type="radio" value="adult" />
					<label for="age_adult">Draw</label>
				</form>
				<p><strong>TheBigCheese</strong> wants to know</p>
			</div>
		</div>		
	</div>

	<div class="start">
		<%= link_to "Create A Poll", new_poll_path, :class => "btn btn-success btn-lg" %> 
	</div>	
	
	</div>






