<div class="full-width">
  <div class="container">

		<div class="row">
        <div class="col-sm-12">
          <% if @featured_poll %>
            <%= render :partial => '/polls/embed', :locals => {:poll => @featured_poll, :response => @response} %>
          <% end %>
      </div>
     </div>

   </div>
</div>

<div class="container">	
	<div class="row">
    <div class="col-sm-12">
			<div class="get-started">
				<h2>Got a burning question? Silly or serious.<br /> Use Pollse to ask people what they think!</h2>
				<%= link_to "Create A Poll", new_poll_path, :class => "btn btn-success btn-mega" %> 
			</div>
     </div>
   </div>
</div>
