<div class="row">
  <div class="col-md-3">
    <%= gravatar_for(@user) %>
    <h3><%= @user.username %></h3>
  </div>
  <div class="col-md-9">
    <% if @featured_poll %>
      <%= render :partial => '/polls/embed', :locals => {:poll => @featured_poll, :response => @response} %>
    <% end %>
  </div>
</div>
