<% content_for :onready do %>
  $('a.answer').on('click', function(e) {
    $('#response_value').val($(this).data('value'));
    $('#new_response').trigger('submit.rails');
    e.preventDefault();
  });
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= gravatar_for(@user) %>
    <h3><%= @user.username %></h3>
    <dl>
      <dt>My Points</dt>
      <dd><%= @user.points %></dd>
    </dl>
  </div>
  <div class="col-md-9">
    <% if @featured_poll %>
      <%= render :partial => '/polls/vote' %>
    <% end %>
  </div>
</div>
