<div class="polling">
  <% if poll.nil? || (current_or_guest_user != poll.user && !current_or_guest_user.answered?(poll)) %>
    <%= render :partial => '/polls/vote', :locals => {:response => response, :poll => poll, :cycle_polls => cycle_polls} %>
  <% else %>
    <%= render :partial => '/polls/results', :locals => {:poll => poll, :cycle_polls => cycle_polls} %>
  <% end %>
</div>
