<h1>Polls</h1>
<div class="big-list">
	<ul>
	  <% @polls.each do |p| %>
	    <li>
				<span class="meta"><%= p.responses.size %> Responsess</span>
				<%= link_to p, p %>
			</li>
	  <% end %>
	</ul>
</div>

<%= link_to 'New Poll', new_poll_path %>
