<% content_for :onready do %>
	$('.response-number').tooltip();
	$('.has-voted').tooltip();
	
<% end %>

<h1>Polls</h1>
<div class="big-list">
	<ul>
	  <% @polls.each do |p| %>
	    <li>
				<div class="meta">
					<span class="glyphicon glyphicon-ok has-voted" data-toggle="tooltip" title="Answered"></span> &nbsp;&nbsp;
					<span class="glyphicon glyphicon-signal response-number" data-toggle="tooltip" title="<%= p.responses.size %> Responses"><span style="width:5px;display:inline-block;"></span><%= p.responses.size %></span> 
				</div>
				<%= link_to p, p %>
			</li>
	  <% end %>
	</ul>
</div>
