<h1>Ask a question</h1>

<div class="row">
	<div class="col-sm-8 ">
		<%= render 'form' %>
	</div>
	<div class="col-sm-4">
		<div class="qtips">
		<h3>Tips!</h3>
		<ul>
			<li>Make sure to add responses to your questions.</li>
			<li>Post something </li>
			<li>Don't forget to have fun</li>
		</ul>
		<h3>Not sure what to ask?</h3>
		<p> See other  <%= link_to "Questions", "polls_path" %> people have asked.<p>
		</div>
	</div>
	
</div>

