<p id="notice"><%= notice %></p>

<%= render :partial => '/polls/embed', :locals => {:poll => @poll, :response => @response} %>

<p>
  <% if @poll.enabled? %>
    <%= link_to 'Deactivate', deactivate_poll_path(@poll), :class => 'btn', :method => :post %>
  <% else %>
    <%= link_to 'Activate', activate_poll_path(@poll), :class => 'btn', :method => :post %>
  <% end %>
</p>

