h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

h1.question {
  font-size: 48px;
  text-align: center;
}

#new_response {
  text-align: center;
  div.poll {
    margin-top: 1em;
  }
}

div.results {
  text-align: center;
}


/* nav */


.simple-nav {
	padding:5px 0;
	border-bottom:1px solid #ccc;
	background:#0b80fa;
	margin-bottom:30px;
	.logo {
		float:left;
		margin-top:12px;
	}
	
	a {
		color:#fff;
		&:hover {
			color:#abd8f8;
			text-decoration:none;
		}
	}
	ul {
		
	}
	li {
		float:right;
		list-style:none;
		padding-left:10px;
		a {
			margin-top:10px;
			display:inline-block;
			font-size:16px;
			padding:6px;
			
		}
	}
	li.primary a {
		border:1px solid #0c549f;
		background: #0c549f;
		padding:6px 15px;
		border-radius:5px;
		-webkit-border-radius:5px;
		&:hover {
			text-decoration:none;
			color:#fff;
			background:#35d41f;
			border:1px solid #188f01;
		}
	}
	
}

/* homempage */

header {
	height:100px;
	.logo {
			border:1px solid red;
		}
}

.full-width {
	background:#0b80fa;
	min-height:500px;
	margin-top:-35px;
	z-index:1001;
}

.ask-bubble {
	position:relative;
	background:#fff;
	margin-bottom: 30px;
	padding:30px 60px;
	border-radius:40px;
	-webkit-border-radius:40px;
}

#home .ask-bubble {
  margin-top: 30px;
}

.ask-tail {
	position:absolute;
	background:image-url("ask_tail.png") 0 0 no-repeat;
	display:block;
	height:50px;
	width:69px;
	bottom:-50px;
	left:50%;
}

.ask-user {
	margin:60px auto 40px auto;
	font-family: 'Roboto Slab', serif;
	text-align:center;
	font-size:20px;
	color:#fcc324;
/*	color:#fff;*/
	a {
		color: #333;
		text-decoration:underline;
	}
	img {
		border:3px solid #c5c7c8;
		border-radius:3px;
		-webkit-border-radius:3px;
		
	}
}

.get-started {
	text-align:center;
	margin-top:40px;
	h2 {
		margin-bottom:20px;
	}	
}

/* forms */

#poll_question_attributes_body {
	font-size:26px;
}

.qtips {
	padding-left:15px;
	h3 {
		margin-top:0px;
	}
	opacity:.7;
	&:hover {
		opacity:1;
	};
}

.big-next {
	position:absolute;
	bottom:30px;
	right:30px;
}


/* polls index */

.big-list {
	ul {
		margin:0;
		padding:0;
	}
	li {
		list-style:none;
		padding:15px;
		margin-bottom:2px;
		background:#fff;
		font-size:20px;
/*		border-bottom:2px solid #f0f0f0;*/
	}
	.meta {
		float:right;
		color:#ccc;
	}
	.response-number {
	/*	width:50px;
			display:inline-block;*/
	}
}

/* utility */
.sm-pad-right {
	margin-right:8px;
}

.vspace-med {
	margin-top:35px;
}

.poll-active   { border-left: 6px solid #5CB85C; }
.poll-inactive { border-left: 6px solid #D9534F; }

.has-voted {color:#5CB85C;}
.has-not-voted {color:#ddd;}
